/*  custom  */

.fx_center {
	text-align: center;"
}


/*  scroll  */

body::-webkit-scrollbar {
    width: 1em;
    background-color: #427FB9;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #23609B;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #165A9B;
  outline: 1px solid slategrey;
  border-color: red;
  border-radius: 10px;
}