<?php
defined('BASEPATH') OR exit('No direct script access allowed');

/*
|--------------------------------------------------------------------------
| Website Title
|--------------------------------------------------------------------------
|
| Write the name of your website this will appear by default.
|
*/
$config['ProjectName'] = "ProjectName_fixcore";

/*
|--------------------------------------------------------------------------
| Maintenance Mode
|--------------------------------------------------------------------------
|
| 1 = Enable
| 0 = Disable
|
*/
$config['maintenance_mode'] = "0";

/*
|--------------------------------------------------------------------------
| Invitation Discord
|--------------------------------------------------------------------------
|
| Write the invitation of your discord channel.
|
*/
$config['discord_inv'] = "WGGGVgX";

/*
|--------------------------------------------------------------------------
| Realmlist
|--------------------------------------------------------------------------
|
| Write the realmlist used on your server to publish it on the website.
|
*/
$config['realmlist'] = "ProjectRealmlist_fixcore";

/*
|--------------------------------------------------------------------------
| Forum STAFF Color
|--------------------------------------------------------------------------
|
| Enter the code of the color you want for STAFF publications in the forum
| Use the following page to obtain the color code.
| http://htmlcolorcodes.com/
| Default: 00b4ff
|
*/
$config['staff_forum_color'] = "00b4ff";

/*
|--------------------------------------------------------------------------
| SOAP Configuration
|--------------------------------------------------------------------------
|
| 'soap_ip' Server IP
| 'soap_user' Account with GM permission
| 'soap_pass' Password used in the GM account
| 'soap_port' Default port 7878 (If you use another port change it)
| 'soap_type' Default TC (only support Trinitycore)
|
*/
$config['soap_ip'] = "ProjectSoapIP_fixcore";
$config['soap_user'] = "ProjectSoapUsername_fixcore";
$config['soap_pass'] = "ProjectSoapPass_fixcore";
$config['soap_port'] = "ProjectSoapPort_fixcore";
$config['soap_type'] = "TC";

/*
|--------------------------------------------------------------------------
| Server Status
|--------------------------------------------------------------------------
|
| Port used to know the status of the server.
|
*/
$config['realmlistPort'] = "ProjectRealmPort_fixcore";

/*
|--------------------------------------------------------------------------
| Expansion Supported
|--------------------------------------------------------------------------
|
| Select the expansion that your website will use among these options:
|
| 1 = Vanilla
| 2 = The Burning Crusade
| 3 = Wrath of the Lich King
| 4 = Cataclysm
| 5 = Mist of Pandaria
| 6 = Warlords of Draenor
| 7 = Legion
| 8 = Battle for Azeroth
|
*/
$config['expansion_id'] = "ProjectExpansion_fixcore";

/*
|--------------------------------------------------------------------------
| Theme Name
|--------------------------------------------------------------------------
|
| Write the name of your theme
| The name is the same as the main folder
| The css must also have the same name
| Default: default
*/
$config['theme_name'] = "default";